#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-size: 4vh;
}

h1{
  font-size: 10vh ;
}

h2{
  font-size: 10vh;
}

img{
  width: 15vh;
}

.clubes{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  flex-wrap: wrap ;
  gap: 5vh;
}

ul{
  list-style: none;
}

li{
  height: 60vh;
}